In [1]:
from dbnomics_client import fetch_dataframe, fetch_dataframe_from_url

Use the URL copy-pasted from DB.nomics website:

In [2]:
df = fetch_dataframe_from_url("https://api.next.nomics.world/dataframe/Eurostat/met_road_gonu?dimension=nst07%3AGT15")
df

,FREQ,Frequency,Metropolitan regions,"Standard goods classification for transport statistics (NST 2007, 20 group)",Unit of measure,code,metroreg,nst07,period,unit,value
0,A,Annual,Wien,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT001MC,AT001MC,GT15,2008,THS_T,247.0
1,A,Annual,Wien,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT001MC,AT001MC,GT15,2009,THS_T,272.0
2,A,Annual,Wien,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT001MC,AT001MC,GT15,2010,THS_T,401.0
3,A,Annual,Wien,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT001MC,AT001MC,GT15,2014,THS_T,126.0
4,A,Annual,Wien,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT001MC,AT001MC,GT15,2015,THS_T,333.0
5,A,Annual,Graz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT002M,AT002M,GT15,2008,THS_T,105.0
6,A,Annual,Graz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT002M,AT002M,GT15,2009,THS_T,37.0
7,A,Annual,Graz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT002M,AT002M,GT15,2012,THS_T,48.0
8,A,Annual,Graz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT002M,AT002M,GT15,2013,THS_T,40.0
9,A,Annual,Graz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT002M,AT002M,GT15,2014,THS_T,45.0
10,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2008,THS_T,255.0
11,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2009,THS_T,283.0
12,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2010,THS_T,174.0
13,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2011,THS_T,81.0
14,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2012,THS_T,206.0
15,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2013,THS_T,101.0
16,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2014,THS_T,73.0
17,A,Annual,Linz,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT003M,AT003M,GT15,2015,THS_T,67.0
18,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2008,THS_T,114.0
19,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2009,THS_T,63.0
20,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2010,THS_T,58.0
21,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2011,THS_T,66.0
22,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2012,THS_T,81.0
23,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2013,THS_T,107.0
24,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2014,THS_T,110.0
25,A,Annual,Salzburg,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT004M,AT004M,GT15,2015,THS_T,100.0
26,A,Annual,Innsbruck,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT005M,AT005M,GT15,2008,THS_T,23.0
27,A,Annual,Innsbruck,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT005M,AT005M,GT15,2009,THS_T,52.0
28,A,Annual,Innsbruck,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT005M,AT005M,GT15,2010,THS_T,88.0
29,A,Annual,Innsbruck,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.AT005M,AT005M,GT15,2011,THS_T,85.0
...,...,...,...,...,...,...,...,...,...,...,...
1633,A,Annual,Bournemouth,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK539M,UK539M,GT15,2013,THS_T,169.0
1634,A,Annual,Bournemouth,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK539M,UK539M,GT15,2014,THS_T,122.0
1635,A,Annual,Bournemouth,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK539M,UK539M,GT15,2015,THS_T,130.0
1636,A,Annual,Reading,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK552M,UK552M,GT15,2008,THS_T,411.0
1637,A,Annual,Reading,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK552M,UK552M,GT15,2009,THS_T,201.0
1638,A,Annual,Reading,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK552M,UK552M,GT15,2010,THS_T,914.0
1639,A,Annual,Reading,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK552M,UK552M,GT15,2011,THS_T,1109.0
1640,A,Annual,Reading,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK552M,UK552M,GT15,2012,THS_T,2522.0
1641,A,Annual,Reading,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK552M,UK552M,GT15,2013,THS_T,909.0
1642,A,Annual,Reading,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK552M,UK552M,GT15,2014,THS_T,1297.0
1643,A,Annual,Blackburn - Blackpool - Preston (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK553M_10,UK553M_10,GT15,2008,THS_T,1070.0
1644,A,Annual,Blackburn - Blackpool - Preston (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK553M_10,UK553M_10,GT15,2010,THS_T,604.0
1645,A,Annual,Middlesbrough,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK559M,UK559M,GT15,2008,THS_T,124.0
1646,A,Annual,Middlesbrough,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK559M,UK559M,GT15,2009,THS_T,78.0
1647,A,Annual,Middlesbrough,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK559M,UK559M,GT15,2010,THS_T,121.0
1648,A,Annual,Middlesbrough,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK559M,UK559M,GT15,2011,THS_T,149.0
1649,A,Annual,Middlesbrough,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK559M,UK559M,GT15,2012,THS_T,124.0
1650,A,Annual,Norwich,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M,UK566M,GT15,2015,THS_T,194.0
1651,A,Annual,Norwich (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M_10,UK566M_10,GT15,2008,THS_T,51.0
1652,A,Annual,Norwich (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M_10,UK566M_10,GT15,2009,THS_T,248.0
1653,A,Annual,Norwich (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M_10,UK566M_10,GT15,2010,THS_T,149.0
1654,A,Annual,Norwich (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M_10,UK566M_10,GT15,2011,THS_T,93.0
1655,A,Annual,Norwich (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M_10,UK566M_10,GT15,2012,THS_T,636.0
1656,A,Annual,Norwich (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M_10,UK566M_10,GT15,2013,THS_T,39.0
1657,A,Annual,Norwich (NUTS 2010),"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK566M_10,UK566M_10,GT15,2014,THS_T,135.0
1658,A,Annual,Cheshire West and Chester,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK568M,UK568M,GT15,2012,THS_T,125.0
1659,A,Annual,Cheshire West and Chester,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK568M,UK568M,GT15,2013,THS_T,82.0
1660,A,Annual,Cheshire West and Chester,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK568M,UK568M,GT15,2014,THS_T,291.0
1661,A,Annual,Cheshire West and Chester,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK568M,UK568M,GT15,2015,THS_T,206.0
1662,A,Annual,Ipswich,"Mail, parcels",Thousand tonnes,A.THS_T.GT15.UK569M,UK569M,GT15,2015,THS_T,67.0

Specify the `provider_code` and the `dataset_code` manually:

In [3]:
df2 = fetch_dataframe(
    provider_code='Eurostat',
    dataset_code='met_road_gonu',
#     limit=30,
)
df2

,FREQ,Frequency,Metropolitan regions,"Standard goods classification for transport statistics (NST 2007, 20 group)",Unit of measure,code,metroreg,nst07,period,unit,value
0,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2008,THS_T,3097.0
1,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2009,THS_T,4065.0
2,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2010,THS_T,3468.0
3,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2011,THS_T,3405.0
4,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2012,THS_T,3664.0
5,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2013,THS_T,3986.0
6,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2014,THS_T,4086.0
7,A,Annual,Wien,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT001MC,AT001MC,GT01,2015,THS_T,4559.0
8,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2008,THS_T,914.0
9,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2009,THS_T,857.0
10,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2010,THS_T,1108.0
11,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2011,THS_T,1082.0
12,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2012,THS_T,1321.0
13,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2013,THS_T,1094.0
14,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2014,THS_T,1224.0
15,A,Annual,Graz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT002M,AT002M,GT01,2015,THS_T,1223.0
16,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2008,THS_T,1155.0
17,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2009,THS_T,1695.0
18,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2010,THS_T,1479.0
19,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2011,THS_T,1670.0
20,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2012,THS_T,1770.0
21,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2013,THS_T,1476.0
22,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2014,THS_T,1535.0
23,A,Annual,Linz,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT003M,AT003M,GT01,2015,THS_T,1773.0
24,A,Annual,Salzburg,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT004M,AT004M,GT01,2008,THS_T,1014.0
25,A,Annual,Salzburg,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT004M,AT004M,GT01,2009,THS_T,505.0
26,A,Annual,Salzburg,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT004M,AT004M,GT01,2010,THS_T,625.0
27,A,Annual,Salzburg,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT004M,AT004M,GT01,2011,THS_T,666.0
28,A,Annual,Salzburg,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT004M,AT004M,GT01,2012,THS_T,640.0
29,A,Annual,Salzburg,"Products of agriculture, hunting, and forestry...",Thousand tonnes,A.THS_T.GT01.AT004M,AT004M,GT01,2013,THS_T,616.0
...,...,...,...,...,...,...,...,...,...,...,...
2970,A,Annual,Non-metropolitan regions in Hungary,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.HU_NM,HU_NM,GT02,2012,THS_T,522.0
2971,A,Annual,Non-metropolitan regions in Hungary,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.HU_NM,HU_NM,GT02,2014,THS_T,508.0
2972,A,Annual,Non-metropolitan regions in Hungary,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.HU_NM,HU_NM,GT02,2015,THS_T,2491.0
2973,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2008,THS_T,984.0
2974,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2009,THS_T,377.0
2975,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2010,THS_T,281.0
2976,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2011,THS_T,271.0
2977,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2012,THS_T,102.0
2978,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2013,THS_T,141.0
2979,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2014,THS_T,103.0
2980,A,Annual,Dublin,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE001MC,IE001MC,GT02,2015,THS_T,89.0
2981,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2008,THS_T,274.0
2982,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2009,THS_T,408.0
2983,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2010,THS_T,271.0
2984,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2011,THS_T,89.0
2985,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2012,THS_T,400.0
2986,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2013,THS_T,235.0
2987,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2014,THS_T,147.0
2988,A,Annual,Cork,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE002M,IE002M,GT02,2015,THS_T,130.0
2989,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2008,THS_T,1942.0
2990,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2009,THS_T,936.0
2991,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2010,THS_T,518.0
2992,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2011,THS_T,299.0
2993,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2012,THS_T,228.0
2994,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2013,THS_T,349.0
2995,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2014,THS_T,212.0
2996,A,Annual,Non-metropolitan regions in Ireland,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IE_NM,IE_NM,GT02,2015,THS_T,375.0
2997,A,Annual,Roma,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IT001MC,IT001MC,GT02,2012,THS_T,82.0
2998,A,Annual,Roma,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IT001MC,IT001MC,GT02,2013,THS_T,343.0
2999,A,Annual,Roma,Coal and lignite; crude petroleum and natural gas,Thousand tonnes,A.THS_T.GT02.IT001MC,IT001MC,GT02,2014,THS_T,99.0

Find the number of series available in the `DataFrame`:

In [4]:
len(set(df.code))

300